<h2>Edit Answer</h2>

<%= form_with model: @answer do |f| %>
  <div id="edit_a_text"><%= f.label "Edit Answer: " %></div>
  <%= f.text_area :content, size: "70 x 20" %><br>
  <div id="edit_a_button"><%= f.submit "Update" %></div>
<% end %>
