/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
 }

 #user-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
 }

 .grid-item-2 {
   text-align: center;
   top: 50%;
 }

 .grid-item-3 {
   text-align: center;
 }

body {
  padding-top: 60px;
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.index-search-bar {
  padding: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #F0F8FF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.navbar div {
  display: inline-block;
}

h3, h4, h5, h5 {
  margin: 5px;
}

#post-q-h2 {
  padding: 50px;
}

#comments-div {
  position: relative;
  left: 40px;
}

.post_info {
  margin: 0;
  display: inline;
}

#q-title {
  margin-bottom: 0;
  padding: 0;
}

#a-answer, #c-answer {
  margin: 0;
}

#q-answer {
  margin-top: 10px;
}

.vote_button {
  display: inline;
}

#break {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login-title {
  margin-top: 5px;
}

#user_sidebar {

}

#post-q-button, #add_t_title, #add_q_title, #edit_a_text, #edit_a_button {
  padding: 10px;
}

div#answer-div > p {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

.new_comment_form {
  margin-top: 10px;
}
